.product-container { border: 1px solid #eaeaec; margin: -1px 19px 3px -1px; box-shadow: 0 1px 2px rgba(0,0,0,0.05); padding:10px;}
.table-responsive {
	padding-left: 10px;
	padding-right: 35px;
}
.second-heading {
	padding-left: 10px;
	padding-right: 10px;
}